<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AMSExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client.Common.BlobTransfer" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <AMSExplorer.Properties.Settings>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayAssetIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useProtectedConfiguration" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NbItemsDisplayedInGrid" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="AutoRefresh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRefreshTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LiveKeyFrameInterval" serializeAs="String">
        <value>00:00:02</value>
      </setting>
      <setting name="LiveHLSFragmentsPerSegment" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CustomPlayerUrl" serializeAs="String">
        <value>http://amsplayer.azurewebsites.net/?player=flash&amp;format=smooth&amp;url={manifest url}</value>
      </setting>
      <setting name="CustomPlayerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultLocatorDurationDays" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="DisplayAssetStorageinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PremiumWorkflowPresetXMLFilesCurrentFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="Currency" serializeAs="String">
        <value>$</value>
      </setting>
      <setting name="ffmpegPath" serializeAs="String">
        <value>%programfiles32%\ffmpeg\bin</value>
      </setting>
      <setting name="VLCPath" serializeAs="String">
        <value>%programfiles32%\VideoLAN\VLC</value>
      </setting>
      <setting name="DirectShowAudioDevice" serializeAs="String">
        <value>Microphone (High Definition Audio Device)</value>
      </setting>
      <setting name="DirectShowVideoDevice" serializeAs="String">
        <value>Webcam (High Definition Audio Device)</value>
      </setting>
      <setting name="DefaultSlateCurrentFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DynEncTokenIssuerv3" serializeAs="String">
        <value>myIssuer</value>
      </setting>
      <setting name="DynEncTokenAudiencev3" serializeAs="String">
        <value>myAudience</value>
      </setting>
      <setting name="DefaultLocatorDurationDaysNew" serializeAs="String">
        <value>3650</value>
      </setting>
      <setting name="DeleteInstallationFile" serializeAs="String">
        <value />
      </setting>
      <setting name="SigniantFlightAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayAssetAltIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConcurrentTransfers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AssetAnalysisStart" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AssetAnalysisStep" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LoginListJSON" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputAssetsAdaptiveStreamingFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MESPricePerMin" serializeAs="String">
        <value>0.015</value>
      </setting>
      <setting name="HideTaskbarNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginListRPv3JSON" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSASDurationInHours" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="DynEncTokenSymKeyv3" serializeAs="String">
        <value />
      </setting>
    </AMSExplorer.Properties.Settings>
  </userSettings>
 </configuration>
