<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AMSExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.3" newVersion="3.8.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client.Common.BlobTransfer" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.3" newVersion="3.8.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.30826.1200" newVersion="4.0.30826.1200" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <AMSExplorer.Properties.Settings>
      <setting name="WAMEPresetXMLFilesCurrentFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayAssetIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayJobIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useStorageEncryption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useProtectedConfiguration" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NbItemsDisplayedInGrid" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DisplayLiveChannelIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayLiveProgramIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayOriginIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRefresh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRefreshTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LiveKeyFrameInterval" serializeAs="String">
        <value>00:00:02</value>
      </setting>
      <setting name="LiveHLSFragmentsPerSegment" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CustomPlayerUrl" serializeAs="String">
        <value>http://amsplayer.azurewebsites.net/?player=flash&amp;format=smooth&amp;url={manifest url}</value>
      </setting>
      <setting name="CustomPlayerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultJobPriority" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DefaultLocatorDurationDays" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="DisplayAssetStorageinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PremiumWorkflowPresetXMLFilesCurrentFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="Currency" serializeAs="String">
        <value>$</value>
      </setting>
      <setting name="DefaultTokenDuration" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ffmpegPath" serializeAs="String">
        <value>%programfiles32%\ffmpeg\bin</value>
      </setting>
      <setting name="VLCPath" serializeAs="String">
        <value>%programfiles32%\VideoLAN\VLC</value>
      </setting>
      <setting name="DirectShowAudioDevice" serializeAs="String">
        <value>Microphone (High Definition Audio Device)</value>
      </setting>
      <setting name="DirectShowVideoDevice" serializeAs="String">
        <value>Webcam (High Definition Audio Device)</value>
      </setting>
      <setting name="DefaultSlateCurrentFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DynEncTokenIssuer" serializeAs="String">
        <value>http://testacs</value>
      </setting>
      <setting name="DynEncTokenAudience" serializeAs="String">
        <value>urn:test</value>
      </setting>
      <setting name="DefaultLocatorDurationDaysNew" serializeAs="String">
        <value>3650</value>
      </setting>
      <setting name="DeleteInstallationFile" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayIngestManifestIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SigniantFlightAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayAssetAltIDinGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IndexingPricePerMin" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="ShowLivePremiumChannel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConcurrentTransfers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AssetAnalysisStart" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AssetAnalysisStep" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LoginListJSON" serializeAs="String">
        <value />
      </setting>
      <setting name="MigratedLoginListToJSON" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MESPresetFilesCurrentFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputAssetsAdaptiveStreamingFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MESPricePerMin" serializeAs="String">
        <value>0.015</value>
      </setting>
      <setting name="MEPWPricePerMin" serializeAs="String">
        <value>0.035</value>
      </setting>
    </AMSExplorer.Properties.Settings>
  </userSettings>
 </configuration>
