<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMSExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AMSExplorer.Properties.Settings>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayAssetIDinGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useProtectedConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NbItemsDisplayedInGrid" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRefreshTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LiveKeyFrameInterval" serializeAs="String">
                <value>00:00:02</value>
            </setting>
            <setting name="LiveHLSFragmentsPerSegment" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CustomPlayerUrl" serializeAs="String">
                <value>http://amsplayer.azurewebsites.net/?player=flash&amp;format=smooth&amp;url={manifest url}</value>
            </setting>
            <setting name="CustomPlayerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayAssetStorageinGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value>%programfiles32%\ffmpeg\bin</value>
            </setting>
            <setting name="VLCPath" serializeAs="String">
                <value>%programfiles32%\VideoLAN\VLC</value>
            </setting>
            <setting name="DirectShowAudioDevice" serializeAs="String">
                <value>Microphone (High Definition Audio Device)</value>
            </setting>
            <setting name="DirectShowVideoDevice" serializeAs="String">
                <value>Webcam (High Definition Audio Device)</value>
            </setting>
            <setting name="DefaultSlateCurrentFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DynEncTokenIssuerv3" serializeAs="String">
                <value>myIssuer</value>
            </setting>
            <setting name="DynEncTokenAudiencev3" serializeAs="String">
                <value>myAudience</value>
            </setting>
            <setting name="DefaultLocatorDurationDaysNew" serializeAs="String">
                <value>3650</value>
            </setting>
            <setting name="DeleteInstallationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SigniantFlightAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayAssetAltIDinGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConcurrentTransfers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AssetAnalysisStart" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AssetAnalysisStep" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="HideTaskbarNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginListRPv3JSON" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSASDurationInHours" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DynEncTokenSymKeyv3" serializeAs="String">
                <value />
            </setting>
            <setting name="DataMovementParallelOperations" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DataMovementBlockSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DataMovementNoMD5Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataMovementDoNotIncreaseHttpLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Telemetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginListRPv4JSON" serializeAs="String">
                <value />
            </setting>
            <setting name="RetirementNotifDays" serializeAs="String">
                <value>500</value>
            </setting>
        </AMSExplorer.Properties.Settings>
    </userSettings>
</configuration>